@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
}

html,
body {
  min-height: 100%;
}

body {
  background: radial-gradient(at top left, purple 0%, darkblue 100%);
  background-repeat: no-repeat;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}

.layout {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100%;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px 20px;
}

nav .links {
  display: inline-block;
  text-align: right;
}

nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}

nav a:hover {
  border-bottom: 3px solid red;
}

footer {
  font-size: 1em;
  text-align: center;
  margin: 40px auto;
  color: gray;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}